<h1>What day of the week is it?</h1>
<form action = "/weekday">
  <div class = "form-group">
    <label for = "date">Date to evaluate:</label>
    <input id = "date" name = "date" class = "form-control" type = "text"  placeholder = "Year, Month, Day">
  </div>
  <button type = "submit" class = "btn-success">Convert</button>
</form>
